.heyB{
    background-color: bisque;
}

.container-fluid{
    background-color: plum;
}
.nav-link
{
    margin: 8px;
    width: 80px;
    background-color: peachpuff;
    color: white;
    border-radius: 12px; 
}

.myway
{
    background-color: antiquewhite;
    margin-top; 8px;
    border-radius: 12px;
}

.Q
{
    width: 90px;
    background-color: black;
    color: white;
    border-radius: 14px;    
}
.okay{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    background-color: beige;
    line-height: 50px;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.hey{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: beige;
    /* border: 14px; */
    border-radius: 12px;
   
}
.img-fluid{

    width=80%: height=20%;
    border: 18px;
    padding: 14px;
    border-radius: 22px;
}
.imagine{
    border-radius; 40px;
}
.say{
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: beige;
    border: 4px;
    border-radius: 12px;
   
}
.kingB{
    font-size: 100px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
    color: yellowgreen;
    border-radius: 22px;
   
}
.hide-and-seek

{
    /* Wow, you found me, You are Genuis, You Rock! */
    display: none;
}
.ipsum{
    font-size: 15px;
    font-style: inherit;
    background-color: bisque;
}










